<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpHandlers>
      <add path="*.*" verb="*" type="System.Web.HttpForbiddenHandler"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <directoryBrowse enabled="false" showFlags="None" />
    <handlers>
      <remove name="block"/>
      <add name="block" path="*.*" verb="*" preCondition="integratedMode" type="System.Web.HttpForbiddenHandler"/>
    </handlers>
  </system.webServer>
</configuration>
