.icon-3gp-large{background: url( ../images/icons/large/filetype/3gp.gif) no-repeat 1px 0px !important}
.icon-3gp-medium{background: url( ../images/icons/medium/filetype/3gp.gif) no-repeat 1px 0px !important}
.icon-3gp-small{background: url( ../images/icons/small/filetype/3gp.gif) no-repeat 1px 0px !important;width:18px;}
.icon-album-large{background: url( ../images/icons/large/folders/album.gif) no-repeat 1px 0px !important}
.icon-album-medium{background: url( ../images/icons/medium/folders/album.gif) no-repeat 1px 0px !important}
.icon-album-shared-large{background: url( ../images/icons/large/folders/album_shared.gif) no-repeat 1px 0px !important}
.icon-album-shared-medium{background: url( ../images/icons/medium/folders/album_shared.gif) no-repeat 1px 0px !important}
.icon-album-shared-small{background: url( ../images/icons/small/folders/album_shared.gif) no-repeat 1px 0px !important;width:18px;}
.icon-album-small{background: url( ../images/icons/small/folders/album.gif) no-repeat 1px 0px !important;width:18px;}
.icon-avi-large{background: url( ../images/icons/large/filetype/avi.gif) no-repeat 1px 0px !important}
.icon-avi-medium{background: url( ../images/icons/medium/filetype/avi.gif) no-repeat 1px 0px !important}
.icon-avi-small{background: url( ../images/icons/small/filetype/avi.gif) no-repeat 1px 0px !important;width:18px;}
.icon-bmp-large{background: url( ../images/icons/large/filetype/bmp.gif) no-repeat 1px 0px !important}
.icon-bmp-medium{background: url( ../images/icons/medium/filetype/bmp.gif) no-repeat 1px 0px !important}
.icon-bmp-small{background: url( ../images/icons/small/filetype/bmp.gif) no-repeat 1px 0px !important;width:18px;}
.icon-chm-large{background: url( ../images/icons/large/filetype/chm.gif) no-repeat 1px 0px !important}
.icon-chm-medium{background: url( ../images/icons/medium/filetype/chm.gif) no-repeat 1px 0px !important}
.icon-chm-small{background: url( ../images/icons/small/filetype/chm.gif) no-repeat 1px 0px !important;width:18px;}
.icon-dll-large{background: url( ../images/icons/large/filetype/dll.gif) no-repeat 1px 0px !important}
.icon-dll-medium{background: url( ../images/icons/medium/filetype/dll.gif) no-repeat 1px 0px !important}
.icon-dll-small{background: url( ../images/icons/small/filetype/dll.gif) no-repeat 1px 0px !important;width:18px;}
.icon-doc-large{background: url( ../images/icons/large/filetype/doc.gif) no-repeat 1px 0px !important}
.icon-doc-medium{background: url( ../images/icons/medium/filetype/doc.gif) no-repeat 1px 0px !important}
.icon-doc-small{background: url( ../images/icons/small/filetype/doc.gif) no-repeat 1px 0px !important;width:18px;}
.icon-docx-large{background: url( ../images/icons/large/filetype/docx.gif) no-repeat 1px 0px !important}
.icon-docx-medium{background: url( ../images/icons/medium/filetype/docx.gif) no-repeat 1px 0px !important}
.icon-docx-small{background: url( ../images/icons/small/filetype/docx.gif) no-repeat 1px 0px !important;width:18px;}
.icon-dwf-large{background: url( ../images/icons/large/filetype/dwf.gif) no-repeat 1px 0px !important}
.icon-dwf-medium{background: url( ../images/icons/medium/filetype/dwf.gif) no-repeat 1px 0px !important}
.icon-dwf-small{background: url( ../images/icons/small/filetype/dwf.gif) no-repeat 1px 0px !important;width:18px;}
.icon-exe-large{background: url( ../images/icons/large/filetype/exe.gif) no-repeat 1px 0px !important}
.icon-exe-medium{background: url( ../images/icons/medium/filetype/exe.gif) no-repeat 1px 0px !important}
.icon-exe-small{background: url( ../images/icons/small/filetype/exe.gif) no-repeat 1px 0px !important;width:18px;}
.icon-flv-large{background: url( ../images/icons/large/filetype/flv.gif) no-repeat 1px 0px !important}
.icon-flv-medium{background: url( ../images/icons/medium/filetype/flv.gif) no-repeat 1px 0px !important}
.icon-flv-small{background: url( ../images/icons/small/filetype/flv.gif) no-repeat 1px 0px !important;width:18px;}
.icon-folder-large{background: url( ../images/icons/large/folders/folder.gif) no-repeat 1px 0px !important}
.icon-folder-medium{background: url( ../images/icons/medium/folders/folder.gif) no-repeat 1px 0px !important}
.icon-folder-shared-large{background: url( ../images/icons/large/folders/folder_shared.gif) no-repeat 1px 0px !important}
.icon-folder-shared-medium{background: url( ../images/icons/medium/folders/folder_shared.gif) no-repeat 1px 0px !important}
.icon-folder-shared-small{background: url( ../images/icons/small/folders/folder_shared.gif) no-repeat 1px 0px !important;width:18px;}
.icon-folder-small{background: url( ../images/icons/small/folders/folder.gif) no-repeat 1px 0px !important;width:18px;}
.icon-gallery-large{background: url( ../images/icons/large/folders/gallery.gif) no-repeat 1px 0px !important}
.icon-gallery-medium{background: url( ../images/icons/medium/folders/gallery.gif) no-repeat 1px 0px !important}
.icon-gallery-small{background: url( ../images/icons/small/folders/gallery.gif) no-repeat 1px 0px !important;width:18px;}
.icon-gif-large,.icon-ico-large{background: url( ../images/icons/large/filetype/gif.gif) no-repeat 1px 0px !important}
.icon-gif-medium,.icon-ico-medium{background: url( ../images/icons/medium/filetype/gif.gif) no-repeat 1px 0px !important}
.icon-gif-small,.icon-ico-small{background: url( ../images/icons/small/filetype/gif.gif) no-repeat 1px 0px !important;width:18px;}
.icon-htm-large{background: url( ../images/icons/large/filetype/htm.gif) no-repeat 1px 0px !important}
.icon-htm-medium{background: url( ../images/icons/medium/filetype/htm.gif) no-repeat 1px 0px !important}
.icon-htm-small{background: url( ../images/icons/small/filetype/htm.gif) no-repeat 1px 0px !important;width:18px;}
.icon-jpg-large{background: url( ../images/icons/large/filetype/jpg.gif) no-repeat 1px 0px !important}
.icon-jpg-medium{background: url( ../images/icons/medium/filetype/jpg.gif) no-repeat 1px 0px !important}
.icon-jpg-small{background: url( ../images/icons/small/filetype/jpg.gif) no-repeat 1px 0px !important;width:18px;}
.icon-mdb-large{background: url( ../images/icons/large/filetype/mdb.gif) no-repeat 1px 0px !important}
.icon-mdb-medium{background: url( ../images/icons/medium/filetype/mdb.gif) no-repeat 1px 0px !important}
.icon-mdb-small{background: url( ../images/icons/small/filetype/mdb.gif) no-repeat 1px 0px !important;width:18px;}
.icon-mov-large{background: url( ../images/icons/large/filetype/mov.gif) no-repeat 1px 0px !important}
.icon-mov-medium{background: url( ../images/icons/medium/filetype/mov.gif) no-repeat 1px 0px !important}
.icon-mov-small{background: url( ../images/icons/small/filetype/mov.gif) no-repeat 1px 0px !important;width:18px;}
.icon-mp3-large{background: url( ../images/icons/large/filetype/mp3.gif) no-repeat 1px 0px !important}
.icon-mp3-medium{background: url( ../images/icons/medium/filetype/mp3.gif) no-repeat 1px 0px !important}
.icon-mp3-small{background: url( ../images/icons/small/filetype/mp3.gif) no-repeat 1px 0px !important;width:18px;}
.icon-mp4-large{background: url( ../images/icons/large/filetype/mp4.gif) no-repeat 1px 0px !important}
.icon-mp4-medium{background: url( ../images/icons/medium/filetype/mp4.gif) no-repeat 1px 0px !important}
.icon-mp4-small{background: url( ../images/icons/small/filetype/mp4.gif) no-repeat 1px 0px !important;width:18px;}
.icon-mpg-large{background: url( ../images/icons/large/filetype/mpg.gif) no-repeat 1px 0px !important}
.icon-mpg-medium{background: url( ../images/icons/medium/filetype/mpg.gif) no-repeat 1px 0px !important}
.icon-mpg-small{background: url( ../images/icons/small/filetype/mpg.gif) no-repeat 1px 0px !important;width:18px;}
.icon-network-large{background: url( ../images/icons/large/folders/network.gif) no-repeat 1px 0px !important}
.icon-network-medium{background: url( ../images/icons/medium/folders/network.gif) no-repeat 1px 0px !important}
.icon-network-small{background: url( ../images/icons/small/folders/network.gif) no-repeat 1px 0px !important;width:18px;}
.icon-network-user-large{background: url( ../images/icons/large/folders/network_user.gif) no-repeat 1px 0px !important}
.icon-network-user-medium{background: url( ../images/icons/medium/folders/network_user.gif) no-repeat 1px 0px !important}
.icon-network-user-small{background: url( ../images/icons/small/folders/network_user.gif) no-repeat 1px 0px !important;width:18px;}
.icon-pdf-large{background: url( ../images/icons/large/filetype/pdf.gif) no-repeat 1px 0px !important}
.icon-pdf-medium{background: url( ../images/icons/medium/filetype/pdf.gif) no-repeat 1px 0px !important}
.icon-pdf-small{background: url( ../images/icons/small/filetype/pdf.gif) no-repeat 1px 0px !important;width:18px;}
.icon-pps-large{background: url( ../images/icons/large/filetype/pps.gif) no-repeat 1px 0px !important}
.icon-pps-medium{background: url( ../images/icons/medium/filetype/pps.gif) no-repeat 1px 0px !important}
.icon-pps-small{background: url( ../images/icons/small/filetype/pps.gif) no-repeat 1px 0px !important;width:18px;}
.icon-ppt-large{background: url( ../images/icons/large/filetype/ppt.gif) no-repeat 1px 0px !important}
.icon-ppt-medium{background: url( ../images/icons/medium/filetype/ppt.gif) no-repeat 1px 0px !important}
.icon-ppt-small{background: url( ../images/icons/small/filetype/ppt.gif) no-repeat 1px 0px !important;width:18px;}
.icon-pptx-large{background: url( ../images/icons/large/filetype/pptx.gif) no-repeat 1px 0px !important}
.icon-pptx-medium{background: url( ../images/icons/medium/filetype/pptx.gif) no-repeat 1px 0px !important}
.icon-pptx-small{background: url( ../images/icons/small/filetype/pptx.gif) no-repeat 1px 0px !important;width:18px;}
.icon-published-files-large{background: url( ../images/icons/large/folders/published_files.gif) no-repeat 1px 0px !important}
.icon-published-files-medium{background: url( ../images/icons/medium/folders/published_files.gif) no-repeat 1px 0px !important}
.icon-published-files-small{background: url( ../images/icons/small/folders/published_files.gif) no-repeat 1px 0px !important;width:18px;}
.icon-published-folders-large{background: url( ../images/icons/large/folders/published_folders.gif) no-repeat 1px 0px !important}
.icon-published-folders-medium{background: url( ../images/icons/medium/folders/published_folders.gif) no-repeat 1px 0px !important}
.icon-published-folders-small{background: url( ../images/icons/small/folders/published_folders.gif) no-repeat 1px 0px !important;width:18px;}
.icon-published-large{background: url( ../images/icons/large/folders/published.gif) no-repeat 1px 0px !important}
.icon-published-medium{background: url( ../images/icons/medium/folders/published.gif) no-repeat 1px 0px !important}
.icon-published-small{background: url( ../images/icons/small/folders/published.gif) no-repeat 1px 0px !important;width:18px;}
.icon-rar-large{background: url( ../images/icons/large/filetype/rar.gif) no-repeat 1px 0px !important}
.icon-rar-medium{background: url( ../images/icons/medium/filetype/rar.gif) no-repeat 1px 0px !important}
.icon-rar-small{background: url( ../images/icons/small/filetype/rar.gif) no-repeat 1px 0px !important;width:18px;}
.icon-recyclebin-large{background: url( ../images/icons/large/folders/recycle.gif) no-repeat 1px 0px !important}
.icon-recyclebin-medium{background: url( ../images/icons/medium/folders/recycle.gif) no-repeat 1px 0px !important}
.icon-recyclebin-small{background: url( ../images/icons/small/folders/recycle.gif) no-repeat 1px 0px !important;width:18px;}
.icon-root-large{background: url( ../images/icons/large/folders/root.gif) no-repeat 1px 0px !important}
.icon-root-medium{background: url( ../images/icons/medium/folders/root.gif) no-repeat 1px 0px !important}
.icon-root-small{background: url( ../images/icons/small/folders/root.gif) no-repeat 1px 0px !important;width:18px;}
.icon-rtf-large{background: url( ../images/icons/large/filetype/rtf.gif) no-repeat 1px 0px !important}
.icon-rtf-medium{background: url( ../images/icons/medium/filetype/rtf.gif) no-repeat 1px 0px !important}
.icon-rtf-small{background: url( ../images/icons/small/filetype/rtf.gif) no-repeat 1px 0px !important;width:18px;}
.icon-shared-albums-large{background: url( ../images/icons/large/folders/shared_albums.gif) no-repeat 1px 0px !important}
.icon-shared-albums-medium{background: url( ../images/icons/medium/folders/shared_albums.gif) no-repeat 1px 0px !important}
.icon-shared-albums-small{background: url( ../images/icons/small/folders/shared_albums.gif) no-repeat 1px 0px !important;width:18px;}
.icon-shared-docs-large{background: url( ../images/icons/large/folders/shared_docs.gif) no-repeat 1px 0px !important}
.icon-shared-docs-medium{background: url( ../images/icons/medium/folders/shared_docs.gif) no-repeat 1px 0px !important}
.icon-shared-docs-small{background: url( ../images/icons/small/folders/shared_docs.gif) no-repeat 1px 0px !important;width:18px;}
.icon-subs-large{background: url( ../images/icons/large/folders/subs.gif) no-repeat 1px 0px !important}
.icon-subs-medium{background: url( ../images/icons/medium/folders/subs.gif) no-repeat 1px 0px !important}
.icon-subs-small{background: url( ../images/icons/small/folders/subs.gif) no-repeat 1px 0px !important;width:18px;}
.icon-subs-user-large{background: url( ../images/icons/large/folders/subs_user.gif) no-repeat 1px 0px !important}
.icon-subs-user-medium{background: url( ../images/icons/medium/folders/subs_user.gif) no-repeat 1px 0px !important}
.icon-subs-user-small{background: url( ../images/icons/small/folders/subs_user.gif) no-repeat 1px 0px !important;width:18px;}
.icon-swf-large{background: url( ../images/icons/large/filetype/swf.gif) no-repeat 1px 0px !important}
.icon-swf-medium{background: url( ../images/icons/medium/filetype/swf.gif) no-repeat 1px 0px !important}
.icon-swf-small{background: url( ../images/icons/small/filetype/swf.gif) no-repeat 1px 0px !important;width:18px;}
.icon-txt-large{background: url( ../images/icons/large/filetype/txt.gif) no-repeat 1px 0px !important}
.icon-txt-medium{background: url( ../images/icons/medium/filetype/txt.gif) no-repeat 1px 0px !important}
.icon-txt-small{background: url( ../images/icons/small/filetype/txt.gif) no-repeat 1px 0px !important;width:18px;}
.icon-unknown-large{background: url( ../images/icons/large/filetype/unknown.gif) no-repeat 1px 0px !important}
.icon-unknown-medium{background: url( ../images/icons/medium/filetype/unknown.gif) no-repeat 1px 0px !important}
.icon-unknown-small{background: url( ../images/icons/small/filetype/unknown.gif) no-repeat 1px 0px !important;width:18px;}
.icon-wav-large{background: url( ../images/icons/large/filetype/wav.gif) no-repeat 1px 0px !important}
.icon-wav-medium{background: url( ../images/icons/medium/filetype/wav.gif) no-repeat 1px 0px !important}
.icon-wav-small{background: url( ../images/icons/small/filetype/wav.gif) no-repeat 1px 0px !important;width:18px;}
.icon-wma-large{background: url( ../images/icons/large/filetype/wma.gif) no-repeat 1px 0px !important}
.icon-wma-medium{background: url( ../images/icons/medium/filetype/wma.gif) no-repeat 1px 0px !important}
.icon-wma-small{background: url( ../images/icons/small/filetype/wma.gif) no-repeat 1px 0px !important;width:18px;}
.icon-wmv-large{background: url( ../images/icons/large/filetype/wmv.gif) no-repeat 1px 0px !important}
.icon-wmv-medium{background: url( ../images/icons/medium/filetype/wmv.gif) no-repeat 1px 0px !important}
.icon-wmv-small{background: url( ../images/icons/small/filetype/wmv.gif) no-repeat 1px 0px !important;width:18px;}
.icon-xls-large{background: url( ../images/icons/large/filetype/xls.gif) no-repeat 1px 0px !important}
.icon-xls-medium{background: url( ../images/icons/medium/filetype/xls.gif) no-repeat 1px 0px !important}
.icon-xls-small{background: url( ../images/icons/small/filetype/xls.gif) no-repeat 1px 0px !important;width:18px;}
.icon-xlsx-large{background: url( ../images/icons/large/filetype/xlsx.gif) no-repeat 1px 0px !important}
.icon-xlsx-medium{background: url( ../images/icons/medium/filetype/xlsx.gif) no-repeat 1px 0px !important}
.icon-xlsx-small{background: url( ../images/icons/small/filetype/xlsx.gif) no-repeat 1px 0px !important;width:18px;}
.icon-xml-large{background: url( ../images/icons/large/filetype/xml.gif) no-repeat 1px 0px !important}
.icon-xml-medium{background: url( ../images/icons/medium/filetype/xml.gif) no-repeat 1px 0px !important}
.icon-xml-small{background: url( ../images/icons/small/filetype/xml.gif) no-repeat 1px 0px !important;width:18px;}
.icon-zip-large{background: url( ../images/icons/large/filetype/zip.gif) no-repeat 1px 0px !important}
.icon-zip-medium{background: url( ../images/icons/medium/filetype/zip.gif) no-repeat 1px 0px !important}
.icon-zip-small{background: url( ../images/icons/small/filetype/zip.gif) no-repeat 1px 0px !important;width:18px;}
.icon-add{background: url( ../images/icons/add.png) no-repeat 1px 0px !important}
.icon-cross{background: url( ../images/icons/cross.png) no-repeat 1px 0px !important}
.icon-stop{background: url( ../images/icons/stop.png) no-repeat 1px 0px !important}
.icon-trash{background: url( ../images/icons/trash_16.gif) no-repeat 1px 0px !important}
.icon-upload{background: url( ../images/icons/upload.png) no-repeat 1px 0px !important}
.icon-home-medium{background: url( ../images/icon_dropdown.gif) no-repeat 3px !important;padding-left:30px !important}
.icon-home-large{background: url( ../images/icons/small/home_go_32.png) no-repeat 1px 0px !important}
.icon-alert{background: url( ../images/icon-jinji.gif) no-repeat 1px 0px !important}
.icon-left-large{background: url( ../images/icons/small/arrow_left_32.png) no-repeat 1px 0px !important}
.icon-left-small{background: url( ../images/icons/small/arrow_left_16.png) no-repeat 1px 0px !important;width:18px;}

/* 文档类型 */
.icon-ISOFT{background: url( ../images/_doc_16.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Appointment{background: url( ../images/_doc_16_appointment.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Archive{background: url( ../images/_doc_16_archive.png) no-repeat 1px 0px !important;width:18px;}
.icon-Article{background: url( ../images/_doc_16_article.gif) no-repeat 1px 0px !important;width:18px;}
.icon-AssignedDocument{background: url( ../images/_doc_16_assigneddocument.gif) no-repeat 1px 0px !important;width:18px;}
.icon-AssignmentTemplate{background: url( ../images/_doc_16_assignmenttemplate.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Attendance{background: url( ../images/_doc_16_attendance.gif) no-repeat 1px 0px !important;width:18px;}
.icon-BitFile{background: url( ../images/_doc_16_bitfile.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Book{background: url( ../images/_doc_16_book.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Folder{background: url( ../images/_doc_16_folder.gif) no-repeat 1px 0px !important;width:18px;}
.icon-CirculatedDocument{background: url( ../images/_doc_16_circulateddocument.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Commodity{background: url( ../images/_doc_16_commodity.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Component{background: url( ../images/_doc_16_component.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Content{background: url( ../images/_doc_16_content.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Customer{background: url( ../images/_doc_16_customer.gif) no-repeat 1px 0px !important;width:18px;}
.icon-EmailedDocument{background: url( ../images/_doc_16_emaileddocument.gif) no-repeat 1px 0px !important;width:18px;}
.icon-File{background: url( ../images/_doc_16_file.gif) no-repeat 1px 0px !important;width:18px;}
.icon-FlowedDocument{background: url( ../images/_doc_16_floweddocument.gif) no-repeat 1px 0px !important;width:18px;}
.icon-FolderCollection{background: url( ../images/_doc_16_foldercollection.gif) no-repeat 1px 0px !important;width:18px;}
.icon-FormedDocument{background: url( ../images/_doc_16_formeddocument.gif) no-repeat 1px 0px !important;width:18px;}
.icon-FormTemplate{background: url( ../images/_doc_16_formtemplate.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Link{background: url( ../images/_doc_16_link.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Meeting{background: url( ../images/_doc_16_meeting.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Movie{background: url( ../images/_doc_16_movie.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Notification{background: url( ../images/_doc_16_notification.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Organization{background: url( ../images/_doc_16_organization.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Organization-Open{background: url( ../images/_doc_16_organization_open.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Person{background: url( ../images/_doc_16_person.gif) no-repeat 1px 0px !important;width:18px;}
.icon-BitMedia{background: url( ../images/_doc_16_bitmedia.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Poll{background: url( ../images/_doc_16_poll.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Portal{background: url( ../images/_doc_16_portal.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Posit{background: url( ../images/_doc_16_posit.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Position{background: url( ../images/_doc_16_position.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Post{background: url( ../images/_doc_16_post.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Product{background: url( ../images/_doc_16_product.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Project{background: url( ../images/_doc_16_project.gif) no-repeat 1px 0px !important;width:18px;}
.icon-PurchaseOrder{background: url( ../images/_doc_16_purchaseorder.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Room{background: url( ../images/_doc_16_room.gif) no-repeat 1px 0px !important;width:18px;}
.icon-ConsumableResource{background: url( ../images/_doc_16_consumableresource.gif) no-repeat 1px 0px !important;width:18px;}
.icon-PlannableResource{background: url( ../images/_doc_16_plannableresource.gif) no-repeat 1px 0px !important;width:18px;}
.icon-RSS{background: url( ../images/_doc_16_rss.gif) no-repeat 1px 0px !important;width:18px;}
.icon-SalesOffer{background: url( ../images/_doc_16_salesoffer.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Search{background: url( ../images/_doc_16_search.gif) no-repeat 1px 0px !important;width:18px;}
.icon-UserGroup{background: url( ../images/_doc_16_usergroup.gif) no-repeat 1px 0px !important;width:18px;}
.icon-ShortMessage{background: url( ../images/_doc_16_shortmessage.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Stamp{background: url( ../images/_doc_16_stamp.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Task{background: url( ../images/_doc_16_task.gif) no-repeat 1px 0px !important;width:18px;}
.icon-TimeSlot{background: url( ../images/_doc_16_timeslot.gif) no-repeat 1px 0px !important;width:18px;}
.icon-User{background: url( ../images/_doc_16_user.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Vehicle{background: url( ../images/_doc_16_vehicle.gif) no-repeat 1px 0px !important;width:18px;}
.icon-WorkflowTemplate{background: url( ../images/_doc_16_workflowtemplate.gif) no-repeat 1px 0px !important;width:18px;}
.icon-WorkReport{background: url( ../images/_doc_16_workreport.gif) no-repeat 1px 0px !important;width:18px;}
.icon-Money{background: url( ../images/_doc_16_money.gif) no-repeat 1px 0px !important;width:18px;}
.icon-InternalMail{background: url( ../images/_doc_16_internalmail.gif) no-repeat 1px 0px !important;width:18px;}
/* Other */
.icon-bullet-Shape{background: url( ../images/icons/bullet/bullet_shape.png) no-repeat 1px 0px !important;width:18px;}
.icon-bullet-Wrench{background: url( ../images/icons/bullet/bullet_wrench.png) no-repeat 1px 0px !important;width:18px;}
/* Row-Used */
.icon-row-file{background: url( ../images/_doc_16_bitfile.gif) no-repeat 1px 0px !important;width:18px;}
.icon-row-media{background: url( ../images/_doc_16_bitmedia.gif) no-repeat 1px 0px !important;width:18px;}
.icon-row-attachment{background: url( ../images/_doc_16_file.gif) no-repeat 3px 0px !important;width:18px;}
.icon-row-mine{background: url( ../images/_op_flatb_showrevision.gif) no-repeat 3px 0px !important;width:18px;}
.icon-row-viewdetail{background: url( ../images/_op_flatb_quote.gif) no-repeat 3px 0px !important;width:18px;}
/* 22 */
.icon-ISOFT-22{background: url( ../images/_doc_22.gif) no-repeat 1px 0px !important;width:24px;}