<configuration>
  <configSections>
    <section name="extNet" type="Ext.Net.GlobalConfig" requirePermission="false" />
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <extNet theme="Gray" />
  <appSettings>
    <add key="interval" value="10" />
    <add key="batchSize" value="20" />
    <add key="logSize" value="200" />
    <add key="secret" value="eTaxi" />
    <add key="taskExecutionContainerCount" value="10" />
    <add key="adminPassword" value="admin" />
    <!-- 投诉来源，从 10 开始自定义，例如 10=自定义1|11=自定义2 -->
    <add key="complainSource" value="" />
    <!-- 投诉类型，从 10 开始自定义，例如 10=自定义1|11=自定义2 -->
    <add key="complainType" value="" />
    <!-- 违章类型，从 10 开始自定义，例如 10=自定义1|11=自定义2 -->
    <add key="violationType" value="" />
    <!-- 违章性质，从 10 开始自定义，例如 10=自定义1|11=自定义2 -->
    <add key="severityLevel" value="" />
    <!-- 事故责任划分，从 10 开始自定义，例如 10=自定义1|11=自定义2 -->
    <add key="accidentFaultLevel" value="" />
    <add key="baseAddress" value="http://47.97.102.220:21001/api/"/>
    <add key="apiSecret" value="apiuser:pwd@2020"/>
  </appSettings>
  <connectionStrings>
    <add name="data" connectionString="Data Source=.\sqlexpress;Initial Catalog=etaxi;User Id=sa;Password=china123;MultipleActiveResultSets=true" />
  </connectionStrings>
  <system.web>
    <globalization culture="zh-CN" uiCulture="zh-HANS" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="DevExpress.Charts.v14.2.Core, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.CodeParser.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Data.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Printing.v14.2.Core, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Utils.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxThemes.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxTreeList.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v14.2.Extensions, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v14.2.Web, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="System.Net.Http, Version=2.2.29.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" 
        protection="All" 
        timeout="2880" 
        path="/" 
        requireSSL="false" 
        slidingExpiration="true" 
        defaultUrl="default.aspx" 
        cookieless="AutoDetect" 
        enableCrossAppRedirects="false"/>
    </authentication>
    <membership userIsOnlineTimeWindow="20">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" 
             type="eTaxiMembershipProvider" 
             connectionStringName="data" 
             enablePasswordRetrieval="false" 
             enablePasswordReset="true" 
             requiresQuestionAndAnswer="false" 
             requiresUniqueEmail="false" 
             passwordFormat="Hashed" 
             minRequiredPasswordLength="3" 
             maxInvalidPasswordAttempts="5" 
             minRequiredNonalphanumericCharacters="0" 
             passwordAttemptWindow="10" 
             passwordStrengthRegularExpression="" 
             applicationName="/"/>
      </providers>
    </membership>
    <profile inherits="eTaxi.PersonalSettings" 
        automaticSaveEnabled="false" defaultProvider="AspNetSqlProfileProvider">
        <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" 
            type="eTaxiProfileProvider" connectionStringName="data" applicationName="/"/>
        </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add 
            name="AspNetSqlRoleProvider" 
            type="eTaxiRoleProvider" connectionStringName="data" applicationName="/"/>
      </providers>
    </roleManager>
    <sessionState mode="InProc"/>
    <customErrors mode="RemoteOnly" defaultRedirect="~/content/pages/error.aspx">
      <error statusCode="403" redirect="noaccess.htm" />
      <error statusCode="404" redirect="error.aspx" />
    </customErrors>
    <httpRuntime maxRequestLength="2097151" executionTimeout="1200" />
    <pages enableSessionState="true" controlRenderingCompatibilityVersion="4.0" validateRequest="true">
      <namespaces>
        <add namespace="eTaxi" />
        <add namespace="eTaxi.L2SQL" />
        <add namespace="eTaxi.Definitions" />
        <add namespace="eTaxi.Web" />
        <add namespace="eTaxi.Web.Controls" />
        <add namespace="LinqKit" />
        <add namespace="System.Data" />
        <add namespace="System.Data.Linq" />
        <add namespace="System.Linq" />
        <add namespace="System.Linq.Expressions" />
        <add namespace="System.Net.Http" />
        <add namespace="DevExpress.Web" />
        <add namespace="DevExpress.Web.ASPxHtmlEditor" />
        <add namespace="DevExpress.Web.ASPxTreeList" />
        <add namespace="Newtonsoft.Json" />
      </namespaces>
      <controls>
        <add tagPrefix="ext" namespace="Ext.Net" assembly="Ext.Net" />
        <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxHtmlEditor" assembly="DevExpress.Web.ASPxHtmlEditor.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxTreeList" assembly="DevExpress.Web.ASPxTreeList.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <!-- Chart -->
        <add tagPrefix="dxcharts" namespace="DevExpress.XtraCharts" assembly="DevExpress.XtraCharts.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dxchartsui" namespace="DevExpress.XtraCharts.Web" assembly="DevExpress.XtraCharts.v14.2.Web, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <handlers>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
    </handlers>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="default.html" />
        <remove value="default.htm" />
        <remove value="default.asp" />
        <remove value="iisstart.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Xhtml" rightToLeft="false" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
</configuration>