body{margin:0;padding:0;font-family:Arial,'宋体', Helvetica, sans-serif; font-size:12px;text-align:left; color:#333333;} 
ul,ol,li,dl,dd{margin:0;padding:0;list-style:none} 
p,form,input{margin:0}
input,select { vertical-align:middle;}
img{border:0}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:12px}
h6 { font-weight:normal;}
.clearfix:after{content:".";height:0;display:block;visibility:hidden;clear:both}
.clearfix{-height:1%;*min-height:1%}
table {border-collapse: collapse;border-spacing: 0;}
a {color:#595961; text-decoration:none;}
a:hover {color:#1352AF; text-decoration:none;}

#top { margin:0px auto; height:74px; background:#F0F0F0 url(images/top_bg.gif) repeat-x;border:solid 1px #AABBCC;border-bottom:none;  }
#header { margin:1px auto 0px auto; height:73px; background:url(images/header_bg.gif) no-repeat; overflow:hidden;}
.header_left{float:left;width:199px;height:73px;overflow:hidden;}
.header_center{float:left;height:35px;padding-top:38px;overflow:hidden;}
.header_right{float:right;width:220px;height:73px;overflow:hidden;}
.header_right .header_r_row_1{float:left;clear:both;height:33px;padding-top:5px;width:220px;}
.header_right .header_r_row_2{float:left;clear:both;height:35px;overflow:hidden;width:220px;}

.navmenu ul{float:left;clear:both;margin:0px;padding:0px;list-style:none;height:35px;overflow:hidden;}
.navmenu li{float:left;display:inline;margin:0px;padding:0px;text-transform:uppercase;height:35px;font-size:14px;cursor:pointer;}
.navmenu .lisplit{float:left;background: url(images/navmenu_split.png) no-repeat center top;width:1px; height:35px; display:block;overflow:hidden;}
.navmenu a{float:left;background: url(images/navmenu_1_left.png) no-repeat left top;margin:0px;padding:0px;text-decoration:none;}
.navmenu a span{float:left;display:block;background: url(images/navmenu_1_right.png) no-repeat right top;padding-left:20px;padding-right:20px;height:35px;letter-spacing: 1px;color:#333333;line-height:35px;cursor:pointer;}
.navmenu a:hover{background: url(images/navmenu_2_left.png) no-repeat left top;}
.navmenu a:hover span{background: url(images/navmenu_2_right.png) no-repeat right top;text-decoration:none;color: #333333;font-size:14px;font-weight:nomarl;}
.navmenu .selected a{ background: url(images/navmenu_2_left.png) no-repeat left top;}
.navmenu .selected a span{ background: url(images/navmenu_2_right.png) no-repeat right top;text-decoration:none;color:#333333;font-size:14px;font-weight:nomarl;}

.navmenu .selected .navmenu_item_1{background: url(images/navmenu_item_1.png) no-repeat 0px 6px;padding-left:30px;}
.navmenu .selected .navmenu_item_2{background: url(images/navmenu_item_2.png) no-repeat 0px 6px;padding-left:30px;}
.navmenu .selected .navmenu_item_3{background: url(images/navmenu_item_3.png) no-repeat 0px 6px;padding-left:30px;}
.navmenu .selected .navmenu_item_4{background: url(images/navmenu_item_4.png) no-repeat 0px 6px;padding-left:30px;}
.navmenu .selected .navmenu_item_5{background: url(images/navmenu_item_5.png) no-repeat 0px 6px;padding-left:30px;}
.navmenu .selected .navmenu_item_6{background: url(images/navmenu_item_6.png) no-repeat 0px 6px;padding-left:30px;}
.navmenu .selected .navmenu_item_7{background: url(images/navmenu_item_7.png) no-repeat 0px 6px;padding-left:30px;}
.navmenu .selected .navmenu_item_8{background: url(images/navmenu_item_8.png) no-repeat 0px 6px;padding-left:30px;}
.navmenu .selected .navmenu_item_9{background: url(images/navmenu_item_9.png) no-repeat 0px 6px;padding-left:30px;}
.navmenu .selected .navmenu_item_10{background: url(images/navmenu_item_10.png) no-repeat 0px 6px;padding-left:30px;}

.icomenu ul{float:right;clear:both;margin:0px;padding:0px 8px 0px 0px;list-style:none;}
.icomenu li{float:left;display:inline;margin:0px;padding:0px;text-transform:uppercase;height:35px;font-size:14px;cursor:pointer;}
.icomenu a{float:left;width:32px;height:32px;}
.ico_a{background: url(images/ico_a.png) no-repeat;}
.ico_b{background: url(images/ico_b.png) no-repeat;}
.ico_c{background: url(images/ico_c.png) no-repeat;}
.ico_d{background: url(images/ico_d.png) no-repeat;}
.ico_e{background: url(images/ico_e.png) no-repeat;}
.ico_f{background: url(images/ico_f.png) no-repeat;}

.h_user{float:right;color:#15428B;font-size:14px;line-height:20px;font-weight:bold;}
.h_btn{float:right;margin-left:10px;margin-right:12px;background: url(images/h_btn_left.gif) no-repeat left top;height:20px;}
.h_btn .h_btn_inner{float:left;background: url(images/h_btn_right.gif) no-repeat right top;height:20px;padding-left:10px;padding-right:10px;line-height:20px;color:#ffffff;}
.h_btn .h_btn_inner a {color:#ffffff; text-decoration:none;margin:0px 5px;}
.h_btn .h_btn_inner a:hover {color:#ffffff; text-decoration:underline;}

.startmenu{float:left;clear:both;width:198px;height:55px;border-left:solid 1px #AABBCC;border-top:solid 1px #F9F9F9;border-bottom:solid 1px #D0D0D0;border-right:solid 1px #D0D0D0;background: url(images/startmenu_bg.gif) repeat-x;}
.btn_startmenu{float:left;clear:both;width:170px;height:38px;background: url(images/btn_startmenu.gif) no-repeat;margin-top:8px;margin-left:11px;}