<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="eTaxi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- 发送时序事件的间隔（单位：分钟） -->
    <add key="interval" value="120" />
    <!-- 前台时序事件的发送范围（一天之内什么时间才发送时序事件） -->
    <add key="day" value="0-6" />
    <add key="time" value="0-24" />
    <add key="secret" value="eTaxi" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <eTaxi.Properties.Settings>
      <setting name="eTaxi_Services_External_Timer" serializeAs="String">
        <value>http://101.37.71.158/etaxi/service/timer.asmx</value>
      </setting>
    </eTaxi.Properties.Settings>
  </applicationSettings>
</configuration>